body {
  background: #0f172a;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.chat-container {
  background: #1e293b;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

#chat {
  background: #020617;
  height: 250px;
  padding: 10px;
  overflow-y: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.message {
  margin-bottom: 8px;
}

.user {
  color: #38bdf8;
}

.bot {
  color: #a3e635;
}

textarea {
  width: 100%;
  height: 60px;
  resize: none;
  border-radius: 5px;
  border: none;
  padding: 8px;
}

button {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  border: none;
  background: #22c55e;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #16a34a;
}
